#favoritas {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

#favoritas .favoritas-lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#favoritas h1{
    text-align: center;
}

#favoritas img{
    width: 10em;
    height: 15em;
}

.favorita-item {
    width: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorita-item img {
    width: 10em;
    height: 15em;
}

.favorita-item .btn-group {
    width: 10em;
    display: flex;
    justify-content: center;
}

.favorita-item .btn-group button {
    flex: 1;
    max-width: 10em;
}